// variables 
$dark-color: #1d1d1d;
$bright-color: #746B61;
$pink-color: #04C1B7;
$blue-color: #6B6BF1;
$green-color: #D99D91;
$red-color: rgb(240, 60, 60);
$brighter-red: rgb(255, 90, 90);
$red-gradient: linear-gradient(to left, $red-color, $brighter-red);
$transparent-white: rgba(256,256,256,0.1);

@mixin centering {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}
@mixin number {
    position: absolute;
    background-color: $red-color;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 2;
    left: 60%;
    bottom: 60%;
    color: white;
    font-size: 12px;
    font-weight: 500;
}
@mixin fontstyle {
    font-size: 20px;
    color: white;
}
@mixin dropdown{
    flex-direction: column;
    position: absolute;
    top: 110px;
    left: -180px;
    background-color: #111;
    width: 250px;
    height: 250px;
    transition: all 0.3s ease-in;
    transform: translateY(5px);
    visibility: hidden;
    opacity: 0;
}
@mixin buttonstyle {
    @include fontstyle;
    width: 90px;
    height: 50px;
    border-radius: 30px;
    background-image: $red-gradient;
    border: none;
    outline: none;
    font-weight: semi-bold;
    font-size: 18px;
    cursor: pointer;
    transition: background-image 0.5s ease;
}
@mixin dropdown-effect {
    visibility: visible;
    opacity: 1;
    transform: translateY(-5px);
}

//begening of style
* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: $red-gradient;
}


body {
    background-color: $dark-color;
    max-width: 100vw;
    overflow-x: hidden;
}

.scroll-top {
    @include centering;
    position: fixed;
    height: 50px;
    width: 50px;
    top: 90%;
    left: 90%;
    border-radius: 50%;
    background: $red-gradient;
    cursor: pointer;
}

header {
    @include centering;
    height: 15vh;
    width: 100vw;
    z-index: 2;

        //logo
        .logo {
            @include centering;
            flex: 1;
            justify-content: flex-start;
            
                img {
                    position: relative;
                    left: 30%;
                    cursor: pointer;
                }
        }

        //navigation bar
        nav {
            @include centering;
            flex: 2;
            justify-content: space-evenly;
            
                ul {
                    @include centering;
                    list-style-type: none;
                    
                    
                        li {
                            @include fontstyle;
                            color: white;
                            margin-right: 40px;
                            position: relative;
                            display: block;
                            padding-bottom: 8px;
                            
                        }

                        li::after {
                            content: "";
                            @include fontstyle;
                            position: absolute;
                            background-color: red;
                            top: 100%;
                            left: 0px;
                            width: 100%;
                            height: 2px;
                            transition: all 0.5s ease; 
                            transform: scaleX(0);
                            transform-origin: left;
                        }
                        
                        li:hover {
                            cursor: pointer;
                        }

                        li:hover::after {
                            transform: scaleX(1);
                            cursor: pointer;
                        }
                }
        }

        //checkout
        .checkout {
            @include centering;
            flex: 1;
            justify-content: flex-end;
            position: relative;

                .shopping-bag, .user-login {
                    @include centering;
                    position: relative;
                    right: 30%;
                    margin: 0px 5px;
                    cursor: pointer;                        
                }

                .shopping-bag {
                    width: 50px;
                    height: 50px;

                        svg {
                            position: absolute;
                        }

                        .number {
                            @include centering;
                            @include number;
                        }

                        .user-bag-submenu {
                            @include centering;
                            @include dropdown;
                            top: 65px;
                            left: -270px;
                            height: 500px;
                            width: 400px;
                            padding: 40px 30px;
                            cursor: default;

                                .cart-items {
                                    @include centering;
                                    justify-content: flex-start;
                                    color: white;
                                    flex-direction: column;
                                    width: 100%;
                                    flex: 4;
                                    border-bottom: 2px solid white;
                                    overflow: auto;

                                    .item {
                                        @include centering;
                                        justify-content: flex-start;
                                        width: 100%;
                                        height: 100px;
                                        position: relative;
                                        margin: 20px 0px;
                                        
                                            img {
                                                width: 100px;
                                                height: 100%;
                                                margin-right: 20px;
                                            }

                                            .info {
                                                @include centering;
                                                flex-direction: column;
                                                width: 100%;
                                                height: 100%;

                                                    .title {
                                                        @include centering;
                                                        justify-content: flex-start;
                                                        width: 100%;
                                                        font-size: 18px;
                                                        font-weight: semi-bold;
                                                        height: 30%;
                                                    }

                                                    .newoldprice {
                                                        @include centering;
                                                        justify-content: flex-start;
                                                        width: 100%;
                                                        height: 30%;
                                                        font-size: 16px;
                                                        font-weight: 300;

                                                            .oldprice {
                                                                font-size: 14px;
                                                                text-decoration: line-through;
                                                                margin-left: 20px;
                                                                color: $bright-color;
                                                            }
                                                    }

                                                    .count-remove {
                                                        @include centering;
                                                        width: 100%;
                                                        height: 40%;

                                                            .count {
                                                                @include centering;
                                                                height: 100%;
                                                                width: 80%;
                                                                justify-content: flex-start;
                                                                

                                                                    .increase, .decrease {
                                                                        @include buttonstyle;
                                                                        width: 40px;
                                                                        height: 40px;
                                                                        background-image: none;
                                                                        background-color: transparent;
                                                                        cursor: pointer;
                                                                    }

                                                                    .countnumber {
                                                                        @include centering;
                                                                        width: 25px;
                                                                        height: 25px;
                                                                        border: 1px white solid;
                                                                        margin-right: 10px;
                                                                        margin-left: 10px;
                                                                        border-radius: 5px; 
                                                                    }
                                                            }

                                                            .trash {
                                                                @include centering;
                                                                justify-content: flex-start;
                                                                position: relative;
                                                                height: 100%;
                                                                width: 20%;
                                                                cursor: pointer;
                                                            }
                                                    }
                                            }
                                    }

                                    .item:hover {
                                        background-color: $transparent-white;
                                    }

                                    .item::after {
                                        content: '';
                                        position: absolute;
                                        top: 100%;
                                        left: 0%;
                                        background-color: $transparent-white;
                                        height: 3px;
                                        width: 100%;
                                        margin: 20px 0px;
                                    }
                                        
                                }

                                .cart-items::-webkit-scrollbar {
                                    width: 5px;
                                }

                                .cart-items::-webkit-scrollbar-thumb {
                                    background-image: $red-gradient;
                                }

                                .cart-items::-webkit-scrollbar-track {
                                    background-color: $transparent-white;
                                }

                                .checkout-price {
                                    @include centering;
                                    @include fontstyle;
                                    flex: 2;
                                    width: 100%;
                                    font-size: 40px;
                                }

                                .checkout-button {
                                    @include buttonstyle;
                                    width: 85%;
                                    flex: 1;
                                    transition: all ease 0.5s;
                                }

                                .checkout-button:hover {
                                    background-image: linear-gradient(to right, $red-color, $brighter-red);
                                }
                        }
                }
                
                .shopping-bag:hover > .user-bag-submenu {
                    @include dropdown-effect;
                }

                .user-login {

                    .user-login-submenu {
                        @include centering;
                        @include dropdown;
    
                            .item {
                                @include centering;
                                width: 100%;
                                border-bottom: 0.1px rgba(255, 255, 255, 0.1) solid;
                                padding-left: 20px;
    
                                    svg {
                                        flex: 1;
                                    }    
    
                                    a {
                                        @include fontstyle;
                                        font-size: 18px;
                                        font-weight: 100;
                                        text-align: left;
                                        flex: 4;
                                        text-decoration: none;
                                    }
                            }
    
                            .item:hover {
                                cursor: pointer;
                                background-image: linear-gradient(to left, $red-color, $brighter-red);
                            }
    
                            .logout-item {
                                border: 0;
                            }
                    }

                    .chevron {
                        position: relative;
                        top: 5px;
                    }
                }

                .user-login:hover > .user-login-submenu {
                    @include dropdown-effect;
                    z-index: 3;
                }
        }
}

main {
    @include centering;
    flex-direction: column;
    position: relative;
    height: 85vh;
    width: 100vw;

        img, h1, p {
            pointer-events: none;
        }

        .images, .social-icons {
            position: absolute;
        }

        .mid-ri-img {
            position: absolute;
            left: 75%;
        }

        .up-le-img {
            top: 5%;
            left: -2%;
        }

        .lo-le-img {
            top: 50%;
            left: 0;

                img {
                    width: 70%;
                    height: 70%;
                }
        }

        .social-icons {
            @include centering;
            flex-direction: column;
            justify-content: space-evenly;
            top: 25%;
            left: 4%;
            height: 35%;
            
                svg {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
        }

        .main-text {
            @include centering;
            justify-content: space-evenly;
            flex-direction: column;
            height: 50%;
            width: 50%;

                h1, p {
                    text-align: center;
                    color: gray;
                    font-size: 18px;
                }

                h1 {
                    font-size: 5rem;
                    color: white;
                    font-family: 'Clicker Script', cursive;
                }
                
                .p-two {
                    font-size: 14px;
                }
        }

        .search {
            @include centering;
            position: relative;
            width: 70%;
            height: 80px;
            margin-top: 80px;

                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    padding-left: 7%;
                    border-radius: 50px;
                    font-size: 18px;
                    text-transform: capitalize;
                    background-color: $transparent-white;
                    color: gray;
                }

                button, .location-pin {
                    position: absolute;
                }

                button {
                    @include buttonstyle;
                    @include fontstyle;
                    width: 25%;
                    height: 80%;
                    left: 74%;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: bold;
                }

                .location-pin {
                    left: 20px;
                }
        }
}

.browse-food {


        .basic-info {
            @include centering;
            width: 100vw;
            height: 300px;
            
                .left-hand-text {
                    @include centering;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 5rem;
                    width: 50%;
                    height: 100%;

                        p {
                            color: darkred;
                            font-size: 1.3rem;
                            margin-bottom: 2rem;
                        }

                        h2 {
                            font-family: 'Grand Hotel Regular', cursive;
                            font-weight: 100;
                            font-size: 4.5rem;
                            line-height: 4rem;
                            color: white;
                        }
                }

                .info-about-us {
                    @include centering;
                    width: 50%;
                    height: 100%;

                        .info {
                            @include centering;
                            flex-direction: column;
                            flex: 1;
                            color: gray;

                                svg {
                                    width: 50px;
                                    height: 50px;
                                    fill: darkred;
                                }

                                .number {
                                    font-size: 1.5rem;
                                }

                                .text {
                                    font-size: 1rem;
                                }
                        }
                }
        }

        .food-options {
            display: grid;
            grid-template-columns: 347px 347px 347px;
            grid-template-rows: auto auto auto;
            grid-column-gap: 30px; 
            grid-row-gap: 30px;
            width: 100vw;
            justify-content: center;

                .option {
                    position: relative;

                        .time-tag {
                            position: absolute;
                            width: 50px;
                            height: 60px;
                            left: 83%;
                            border-radius: 0px 0px 50% 50%;
                            text-align: center;
                            background: $red-gradient;
                            color: white;
                            padding: 10px;
                            font-weight: 200;
                        }

                        .upper-content {
                            @include centering;
                            justify-content: space-between;
                            height: 20px;
                            padding: 20px 20px;
                            color: white;

                                svg {
                                    fill: yellow;
                                }

                                .title {
                                    font-size: 1.1rem;
                                    font-weight: 500;
                                }
                        }

                        p {
                            padding: 0px 20px;
                            color: white;
                        }
                }
        }

        .browse-more {
            @include centering;
            
                button {
                    @include buttonstyle;
                    width: 500px;
                    font-weight: 500;
                }
        }
}