* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background-image: linear-gradient(to left, #f03c3c, #ff5a5a);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1d1d1d;
  max-width: 100vw;
  overflow-x: hidden;
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  position: absolute;
  background-color: #222;
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  z-index: 4;
}

.loader-container .loader {
  position: relative;
  width: 85px;
  height: 85px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.loader-container .circle {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.loader-container .border-circle-one {
  top: 50px;
  border: 2px solid white;
}

.loader-container .border-circle-two {
  top: 50px;
  left: 50px;
  border: 2px solid white;
}

.loader-container .border-circle-three {
  left: 25px;
  border: 2px solid white;
}

.loader-container .red-circle {
  position: absolute;
  left: 25px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background-image: linear-gradient(to left, #f03c3c, #ff5a5a);
}

.fadeout {
  opacity: 0;
  pointer-events: none;
}

.showup {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.scroll-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  position: fixed;
  height: 50px;
  width: 50px;
  top: 90%;
  left: 90%;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background: linear-gradient(to left, #f03c3c, #ff5a5a);
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 13vh;
  width: 100vw;
  z-index: 2;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 15%;
}

header .logo img {
  position: relative;
  left: 30%;
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 70%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  list-style-type: none;
}

header nav ul li {
  font-size: 20px;
  color: white;
  color: white;
  margin-right: 40px;
  position: relative;
  display: block;
  padding-bottom: 8px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

header nav ul li::after {
  content: "";
  font-size: 20px;
  color: white;
  position: absolute;
  background-color: red;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header nav ul li:hover {
  cursor: pointer;
}

header nav ul li:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  cursor: pointer;
}

header .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 15%;
}

header .checkout .shopping-bag, header .checkout .user-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  position: relative;
  right: 30%;
  margin: 0px 5px;
  cursor: pointer;
}

header .checkout .shopping-bag {
  width: 50px;
  height: 50px;
}

header .checkout .shopping-bag svg {
  position: absolute;
}

header .checkout .shopping-bag .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  position: absolute;
  background-color: #f03c3c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 2;
  left: 60%;
  bottom: 60%;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

header .checkout .shopping-bag .user-bag-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 110px;
  left: -180px;
  background-color: #111;
  width: 250px;
  height: 250px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  visibility: hidden;
  opacity: 0;
  top: 65px;
  left: -270px;
  height: 500px;
  width: 400px;
  padding: 40px 30px;
  cursor: default;
  z-index: 3;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border-bottom: 1px solid white;
  overflow: auto;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100px;
  position: relative;
  margin: 20px 0px;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item img {
  width: 100px;
  height: 100%;
  margin-right: 20px;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item .info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-size: 18px;
  font-weight: semi-bold;
  height: 30%;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item .info .newoldprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 30%;
  font-size: 16px;
  font-weight: 300;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item .info .newoldprice .oldprice {
  font-size: 14px;
  text-decoration: line-through;
  margin-left: 20px;
  color: #746B61;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item .info .count-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 100%;
  height: 40%;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item .info .count-remove .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  height: 100%;
  width: 80%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item .info .count-remove .count .increase, header .checkout .shopping-bag .user-bag-submenu .cart-items .item .info .count-remove .count .decrease {
  font-size: 20px;
  color: white;
  width: 90px;
  height: 50px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background-image: linear-gradient(to left, #f03c3c, #ff5a5a);
  border: none;
  outline: none;
  font-weight: semi-bold;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: background-image 0.5s ease;
  transition: background-image 0.5s ease;
  width: 40px;
  height: 40px;
  background-image: none;
  background-color: transparent;
  cursor: pointer;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item .info .count-remove .count .countnumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 25px;
  height: 25px;
  border: 1px white solid;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item .info .count-remove .trash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  height: 100%;
  width: 20%;
  cursor: pointer;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item:hover .title {
  color: darkgoldenrod;
  cursor: pointer;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items .item::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 3px;
  width: 100%;
  margin: 20px 0px;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}

header .checkout .shopping-bag .user-bag-submenu .cart-items::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background-image: linear-gradient(to left, #f03c3c, #ff5a5a);
}

header .checkout .shopping-bag .user-bag-submenu .cart-items::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

header .checkout .shopping-bag .user-bag-submenu .checkout-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  font-size: 20px;
  color: white;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  font-size: 40px;
}

header .checkout .shopping-bag .user-bag-submenu .checkout-button {
  font-size: 20px;
  color: white;
  width: 90px;
  height: 50px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background-image: linear-gradient(to left, #f03c3c, #ff5a5a);
  border: none;
  outline: none;
  font-weight: semi-bold;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: background-image 0.5s ease;
  transition: background-image 0.5s ease;
  width: 85%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

header .checkout .shopping-bag .user-bag-submenu .checkout-button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#f03c3c), to(#ff5a5a));
  background-image: linear-gradient(to right, #f03c3c, #ff5a5a);
}

header .checkout .shopping-bag:hover > .user-bag-submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

header .checkout .user-login .user-login-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 110px;
  left: -180px;
  background-color: #111;
  width: 250px;
  height: 250px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}

header .checkout .user-login .user-login-submenu .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 100%;
  border-bottom: 0.1px rgba(255, 255, 255, 0.1) solid;
  padding-left: 20px;
}

header .checkout .user-login .user-login-submenu .item svg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .checkout .user-login .user-login-submenu .item a {
  font-size: 20px;
  color: white;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .checkout .user-login .user-login-submenu .item:hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background-image: linear-gradient(to left, #f03c3c, #ff5a5a);
}

header .checkout .user-login .user-login-submenu .item:hover a {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

header .checkout .user-login .user-login-submenu .logout-item {
  border: 0;
}

header .checkout .user-login .chevron {
  position: relative;
  top: 5px;
}

header .checkout .user-login:hover > .user-login-submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  z-index: 3;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 87vh;
  width: 100vw;
}

main img, main h1, main p {
  pointer-events: none;
}

main .images, main .social-icons {
  position: absolute;
}

main .mid-ri-img {
  position: absolute;
  left: 75%;
}

main .up-le-img {
  top: 5%;
  left: -2%;
}

main .lo-le-img {
  top: 50%;
  left: 0;
}

main .lo-le-img img {
  width: 70%;
  height: 70%;
}

main .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 25%;
  left: 4%;
  height: 35%;
}

main .social-icons svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

main .main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  width: 50%;
}

main .main-text h1, main .main-text p {
  text-align: center;
  color: gray;
  font-size: 18px;
}

main .main-text h1 {
  font-size: 5rem;
  color: white;
  font-family: 'Grand Hotel Regular', cursive;
  font-weight: 100;
}

main .main-text .p-two {
  font-size: 14px;
}

main .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  position: relative;
  width: 70%;
  height: 80px;
  margin-top: 80px;
}

main .search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 7%;
  border-radius: 50px;
  font-size: 18px;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.1);
  color: gray;
}

main .search button, main .search .location-pin {
  position: absolute;
}

main .search button {
  font-size: 20px;
  color: white;
  width: 90px;
  height: 50px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background-image: linear-gradient(to left, #f03c3c, #ff5a5a);
  border: none;
  outline: none;
  font-weight: semi-bold;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: background-image 0.5s ease;
  transition: background-image 0.5s ease;
  font-size: 20px;
  color: white;
  width: 25%;
  height: 80%;
  left: 74%;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

main .search .location-pin {
  left: 20px;
}

.browse-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 172vh;
  background-color: #111;
}

.browse-food .basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 100vw;
  height: 62vh;
}

.browse-food .basic-info .left-hand-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 5rem;
  width: 50%;
  height: 100%;
}

.browse-food .basic-info .left-hand-text p {
  color: darkred;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.browse-food .basic-info .left-hand-text h2 {
  font-family: 'Grand Hotel Regular', cursive;
  font-weight: 100;
  font-size: 4.5rem;
  line-height: 4rem;
  color: white;
}

.browse-food .basic-info .info-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 50%;
  height: 100%;
  padding-right: 3rem;
}

.browse-food .basic-info .info-about-us .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: gray;
}

.browse-food .basic-info .info-about-us .info svg {
  width: 50px;
  height: 50px;
  fill: darkred;
}

.browse-food .basic-info .info-about-us .info .number {
  font-size: 1.5rem;
}

.browse-food .basic-info .info-about-us .info .text {
  font-size: 1rem;
}

.browse-food .food-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 347px 347px 347px;
      grid-template-columns: 347px 347px 347px;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  height: 80vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.browse-food .food-options .option {
  position: relative;
}

.browse-food .food-options .option .time-tag {
  position: absolute;
  width: 50px;
  height: 60px;
  left: 83%;
  border-radius: 0px 0px 50% 50%;
  text-align: center;
  background: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background: linear-gradient(to left, #f03c3c, #ff5a5a);
  color: white;
  padding: 10px;
  font-weight: 200;
}

.browse-food .food-options .option .upper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  padding: 20px 20px;
  color: white;
}

.browse-food .food-options .option .upper-content svg {
  fill: yellow;
}

.browse-food .food-options .option .upper-content .title {
  font-size: 1.1rem;
  font-weight: 500;
}

.browse-food .food-options .option p {
  padding: 0px 20px;
  color: white;
}

.browse-food .browse-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 100%;
  height: 30vh;
}

.browse-food .browse-more button {
  font-size: 20px;
  color: white;
  width: 90px;
  height: 50px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background-image: linear-gradient(to left, #f03c3c, #ff5a5a);
  border: none;
  outline: none;
  font-weight: semi-bold;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: background-image 0.5s ease;
  transition: background-image 0.5s ease;
  width: 500px;
  font-weight: 500;
}

.reviews {
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 100vw;
  background-image: url(../imgs/fruit.jpg);
  background-attachment: fixed;
}

.reviews .darker {
  position: absolute;
  background-color: #202020;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  z-index: 0;
}

.reviews .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 100vw;
  height: 200px;
  z-index: 1;
}

.reviews .slider .client {
  text-align: center;
  margin: 20px;
}

.reviews .slider .client img {
  border-radius: 50%;
  margin: 10px;
}

.reviews .slider .client .client-name {
  color: darkred;
  font-size: 1.5rem;
}

.reviews .slider .client .client-city {
  font-weight: 100;
}

.reviews .paragraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  position: relative;
  height: 100px;
  width: 60%;
  z-index: 1;
}

.reviews .paragraphs p {
  position: absolute;
  text-align: center;
  color: gray;
  font-size: 1rem;
  font-weight: 100;
}

.reviews .slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  height: 50px;
  z-index: 1;
}

.download-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #111;
}

.download-app .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40%;
  width: 100%;
}

.download-app .text-content p {
  color: darkred;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.download-app .text-content h2 {
  font-family: 'Grand Hotel Regular', cursive;
  font-weight: 100;
  font-size: 4.5rem;
  line-height: 4rem;
  color: white;
}

.download-app .stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  height: 60%;
  width: 100%;
  font-size: 1.5rem;
  color: white;
}

.download-app .stores img {
  height: 200px;
  width: 200px;
  margin: 70px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.download-app .stores img:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.about-us {
  height: 100vh;
  width: 100vw;
}

.about-us .info-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  height: 50%;
  width: 100%;
}

.about-us .info-about-us .left-hand-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 50%;
  padding-left: 50px;
}

.about-us .info-about-us .left-hand-content p {
  color: darkred;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.about-us .info-about-us .left-hand-content h2 {
  font-family: 'Grand Hotel Regular', cursive;
  font-weight: 100;
  font-size: 4.5rem;
  line-height: 4rem;
  color: white;
}

.about-us .info-about-us .right-hand-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 50%;
}

.about-us .info-about-us .right-hand-content p {
  color: gray;
  margin-bottom: 20px;
}

.about-us .our-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50%;
  width: 100%;
}

.about-us .our-values .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us .our-values .value .icon svg {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.about-us .our-values .value p {
  font-size: 1.3rem;
  color: white;
  font-weight: 100;
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 200px;
  background-color: #111;
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 20%;
}

footer p {
  font-size: 15px;
  color: white;
  font-weight: 100;
}

main {
  height: 40vw;
}

main .mid-ri-img {
  top: 5%;
  left: 85%;
}

main .mid-ri-img img {
  width: 300px;
  height: 300px;
}

main .up-le-img {
  top: 40%;
  left: -7%;
}

main .up-le-img img {
  width: 250px;
  height: 250px;
}

main .main-text {
  height: 50px;
}

main .main-text h1 {
  background: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background: linear-gradient(to left, #f03c3c, #ff5a5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 200px;
}

main .navigator a, main .navigator span {
  color: gray;
  font-size: 1rem;
  text-decoration: none;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  height: 200px;
  width: 100vw;
  background: #111;
}

.filters div {
  margin: 0px 13px;
}

.filters select, .filters input {
  cursor: pointer;
}

.filters .price-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 100%;
}

.filters .price-slider .label-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.filters .price-slider .label-text label {
  color: white;
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.filters .price-slider .label-text input {
  margin-top: 20px;
  width: 100%;
}

.filters .restaurant-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 20%;
  height: 100%;
}

.filters .restaurant-type select {
  width: 80%;
  background-color: #111;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  width: 80%;
}

.filters .restaurant-type svg {
  width: 20%;
}

.filters .restaurant-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 20%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters .restaurant-location select {
  width: 80%;
  background-color: #111;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  width: 80%;
}

.filters .restaurant-location svg {
  width: 20%;
}

.filters .filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
  height: 100%;
}

.filters .filter-button button {
  font-size: 20px;
  color: white;
  width: 90px;
  height: 50px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f03c3c), to(#ff5a5a));
  background-image: linear-gradient(to left, #f03c3c, #ff5a5a);
  border: none;
  outline: none;
  font-weight: semi-bold;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: background-image 0.5s ease;
  transition: background-image 0.5s ease;
  width: 80%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}

.browse-food {
  background: #111;
  padding: 50px 0px;
}

footer {
  background-color: #222;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 100vw;
  height: 80vh;
  background-color: #111;
}

.user-profile .inner-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 90%;
  height: 80%;
  border: 4px #333 solid;
  padding: 20px;
}

.user-profile .inner-profile .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.user-profile .inner-profile .info .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  background-color: #333;
}

.user-profile .inner-profile .info .avatar img {
  border-radius: 50%;
}

.user-profile .inner-profile .info .avatar .profile-name {
  width: 100%;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: darkred;
  line-height: 2.8rem;
  text-align: center;
}

.user-profile .inner-profile .info .avatar .profile-num {
  font-weight: 100;
  font-size: 0.9rem;
  width: 100%;
  color: white;
  text-align: center;
}

.user-profile .inner-profile .info .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 100%;
  background-color: #111;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: white;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.user-profile .inner-profile .info .section:hover {
  background-color: #333;
}

.user-profile .inner-profile .info .account-section {
  margin-top: 5px;
}

.user-profile .inner-profile .info .logout-section {
  border: none;
}

.user-profile .inner-profile .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  padding-left: 30px;
  font-size: 1.1rem;
  color: gray;
  line-height: 2rem;
}
/*# sourceMappingURL=profile.css.map */